.card-wrapper {
    border: 0.5px solid #cecaca;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-header {
    background-color: var(--blue_color);
    height: 50px;
    align-items: center;
    border-bottom: 1px solid rgb(206, 202, 202);
    padding: 0 15px 0 0px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    white-space: nowrap;
    .title {
        position: relative;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        // transition: left 1.63s linear 0s;
        left: 15px;
    }
    .ghost {
        margin-left: 15px;
    }
}

.card-body {
    height: 95px;
}
.card-bottom {
    padding: 0 14px 0 14px;
    align-items: center;
    height: 34px;
    font-size: 0.800rem;
    font-weight: 500;
    .name {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}